<div class="container" ng-hide="vm.showAvatar">
    <h4 class="page-header">
        Chat
        <small>On this page you can chat with Willy.</small>
        <button ng-click="vm.toggleShowAvatar()" class="btn btn-primary btn-sm pull-right"><fa name="user"></fa>&nbsp;Show avatar</button>
    </h4>
    <pre ng-bind="vm.chatLines.join('\n')" id="chat"></pre>
    <form ng-submit="vm.submitChatInput()">
        <input type="text"
               class="form-control"
               title="chat input"
               ng-model="vm.chatInput"
               placeholder="Chat input here">
    </form>
    <p class="text-center" ng-show="vm.speechRecognitionAvailable">
        <br/>
        <button class="btn btn-info btn-lg" ng-click="vm.startRecognition()" ng-disabled="vm.speechListening || vm.speechTalking">
            <fa name="microphone"></fa>&nbsp;Start listening
        </button>
    </p>
</div>

<div class="container" ng-show="vm.showAvatar">
    <canvas id="avatar-canvas" width="800" height="800"></canvas>
</div>