@import "../styles/theme/bootswatch";

#loading-bar .bar {
  background: #fff;
}

#loading-bar .peg {
  -moz-box-shadow: #fff 1px 0 6px 1px;
  -ms-box-shadow: #fff 1px 0 6px 1px;
  -webkit-box-shadow: #fff 1px 0 6px 1px;
  box-shadow: #fff 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #fff;
  border-left-color: #fff;
}

.ui-notification {
  border-radius: 2px;
  background: $brand-primary;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.ui-notification.warning {
  color: #fff;
  background: darken($brand-warning, 5%);
}

.ui-notification.error {
  color: #fff;
  background: $brand-danger;
}

.ui-notification.success {
  color: #fff;
  background: darken($brand-success, 10%);
}

.ui-notification.info {
  color: #fff;
  background: $brand-info;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #acacac;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #ACACAC;
}

*::-webkit-scrollbar-thumb {
  background-color: #333333;
}

*::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: none;
  background-color: #ACACAC;
}

*::-webkit-scrollbar:horizontal {
  height: 6px;
  background-color: #ACACAC;
}

*::-webkit-scrollbar-corner {
  background-color: #ACACAC;
}

*::-webkit-scrollbar-thumb:horizontal {
  background-color: #333333;
}